{% extends 'base.html' %} {% block title %} {{ role.name }} {% endblock title %} {% block content %}
    <div class="fundo">
      <section class="paginaReceita">
          <article>
            </div>
              <h1>{{ role.name }}</h1>
              <br><img src="{{ role.banner_url }}" alt="{{ role.name}}" class="recipe-image">
              <h2><br> Descrição</h2>
              {{ role.about }}

              <a href="{% url 'roles:tickets' role.id%}" class="btn btn-warning">Comprar</a>
              
              {% if user.is_staff %}
                  <h2><br> Organização</h2>
                  <a href="{% url 'roles:update' role.id %}"class="button1"><span></span>Editar</a>
                  <br><a href="{% url 'roles:delete' role.id %}"class="button1"><span></span>Apagar</a>
              {% endif %}
          </article>  
      </section>
  </div>
  

{% endblock content %}