{% extends 'base.html' %} 
{% load qr_code %}
{% block content %}
  <body>
    <div class="banner2">
    {% if ticket_list %}
      <section class="list-container">
        <br><br>
        <h2>Seus Ingressos</h2>
        <br><br>
        
        <ul class="single-list">
            {% for ticket in ticket_list %}
            <li class="single-item">
                <div class="single-box">
                  <div class="recipe-title">{{ ticket.type }} - R$ {{ticket.price}}</div>
                  <br><br>
                      {% if ticket.on_sale %}
                        <a href="{% url 'roles:cancelsell_ticket' id=ticket.id %}" class="button1"><span></span>Cancelar anúncio</a>
                      {% else %}
                        <a href="{% url 'roles:sell_ticket' id=ticket.id %}" class="button1"><span></span>Anunciar</a>
                        <br>
                        <div id="ex1" class="modal">
                          {% qr_from_text ticket size=30 %}
                        </div>
                        
                        <!-- Link to open the modal -->
                        <p><a href="#ex1" rel="modal:open" class="button1">Abrir</a></p>

                      {% endif %}
                </div>
              </a>
            </li>                                             
          {% endfor %}
        </ul>
      </section>
    </div>
  </body>
  
  {% else %}
  <body>
    <div class="banner2">
      <section class="list-container">
        <br><br>
        <h2>Você não tem nenhum ingresso...</h2>
        <br><br>
    </div>
  </body>
  {% endif %}

{% endblock content %}
