{% extends 'base.html' %}
{% block content %}


<div class="banner2">
  <br><br>
  <section class="search-container">
  <li class="caixa-filtro">
    <div class="single-box">
      <h2>Filtrar Rolês</h2>
      <form action="{% url 'roles:search' %}">
          <p>
            
              <div class="icon"></div>
              <div class="input">
                  <input type="text" name="query" id="id_query" />
              </div>
          </p>
          <button type="submit" class="button1">Buscar</button>
      </form>
    </div>
    </li>
  </section>
    <br><br>
    {% if post_list %}
      <section class="list-container">
        <br><br>
        <h2>Resultados</h2>
        <br><br>
        <a href="{% url 'roles:create' %}" class="button2">Adicionar Novo Rolê</a>
        <ul class="single-list">
          {% for role in role_list %}
            <li class="single-item">
              <a href="{% url 'roles:details' role.id %}">
                <div class="single-box">
                  <img src="{{ role.banner_url }}" alt="{{ role.name }}" class="recipe-image">
                  <div class="recipe-title">{{ role.name }}</div>
                </div>
              </a>
            </li>                                             
          {% endfor %}
        </ul>
      </section>
    </div>
    {% else %}
<h2 class="text-search">Não possível achar esse rolê...</h2>
{% endif %}

{% endblock content %}

