{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock %} | Receitas do Habib!
    </title>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/details.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sobre.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/list.css' %}">
</head>

<body>
    <header>
        <nav>
            <a href="{% url 'index' %}"> 
                <img src="{% static '/images/logo.jpg'%}" alt="URolê" class="logo"> 
            </a>
            <ul>
                {% if user.is_authenticated %}
                    <li> Logado com {{ user.username }} </li>
                    <li><a href="{% url 'logout' %}">Log out</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Log in</a></li>
                {% endif %}
                <p><a href="{% url 'index' %}">Página Inicial</a></p>
                <p><a href="{% url 'receitas:index' %}">Rolês</a></p>
                <p><a href="{% url 'receitas:search' %}">Busca</a></p>
                <p><a href="{% url 'about' %}">Sobre</a></p>
            </ul>
        </nav>
    </header>

    <main id="conteiner-principal">
        {% block content %}
        {% endblock content %}
    </main>

    <footer>
        <p>Copyright 2023.</p>
        <p>URolê ©</p>
    </footer>
</body>

</html>