{% extends 'base.html' %}

{% block title %}
Categorias
{% endblock title %}

{% block content %}
<div class="titulocategoria"><h2>Categorias das Receitas</h2></div>

<section>
    {% for category in category_list %}
    <hr>
    <article>
        <header>
            <h3>{{category.name}} (de {{ category.author }}) </h3>
        </header>
        <ul class="single-list">
            {% for post in category.posts.all %}
            <li class="single-item">
                <a href="{% url 'receitas:details' post.id %}">
                    <div class="single-box">
                        <img src="{{ post.foto_url }}" alt="{{ post.name }}" class="recipe-image">
                        <div class="recipe-title">{{ post.name }}</div>
                      </div>
                </a>
            </li>
            
            {% endfor %}
            </ul>
        </div>
    </article>
    {% endfor %}

    <a href="{% url 'receitas:create-category' %}"><button class="button1">Crie sua categoria</button></a>
    <br>
</section>

{% endblock content %}

     