{% extends 'base.html' %}

{% block title %}
Categorias
{% endblock title %}

{% block content %}
<div class="titulocategoria"><h2>Categorias das Receitas</h2></div>

<section>
    {% for category in category_list %}
    <hr>
    <article>
        <a href="{% url 'receitas:category' category.id %}">
            <header>
                <h3>{{category.name}} (de {{ category.author }}) </h3>
            </header>
        </a>
        <ul class="single-list">
            {% for role in category.roles.all %}
            <li class="single-item">
                <a href="{% url 'receitas:details' role.id %}">
                    <div class="single-box">
                        <img src="{{ role.foto_url }}" alt="{{ role.name }}" class="recipe-image">
                        <div class="recipe-title">{{ role.name }}</div>
                      </div>
                </a>
            </li>
            
            {% endfor %}
            </ul>
        </div>
    </article>
    {% endfor %}

    <a href="{% url 'receitas:create-category' %}"><button class="button1">Crie sua categoria</button></a>
    <br>
</section>

{% endblock content %}

     