{% extends 'base.html' %} {% block title %} {{ post.name }} {% endblock title %} {% block content %}
    <div class="fundo">
      <section class="paginaReceita">
          <article>
              <h1>{{ post.name }}</h1>
              <br><img src="{{ post.foto_url }}" alt="{{ post.name}}" class="recipe-image">
              <h2><br> Descriçãozinha</h2>
              {{ post.desc }}
              <div class="listaDeIng">
                  <h2>Ingredientes</h2>
                  <ul>
                    {{ post.ingredientes }}
                  </ul>
              </div>
              <h2>Modo de preparo</h2>
                    {{ post.modo_de_preparo }}
              <h1>Bon appétit!</h1>
          </article>
      </section>
  </div>
  
    {% endblock content %}