{% extends 'base.html' %} 
{% block content %}
  <body>
    <div class="banner2">
    {% if post_list %}
      <section class="list-container">
        <br><br>
        <h2>Receitas</h2>
        <br><br>
        <a href="{% url 'receitas:create' %}" class="button2">Adicionar Nova Receita</a>
        <ul class="single-list">
          {% for post in post_list %}
            <li class="single-item">
              <a href="{% url 'receitas:details' post.id %}">
                <div class="single-box">
                  <img src="{{ post.foto_url }}" alt="{{ post.name }}" class="recipe-image">
                  <div class="recipe-title">{{ post.name }}</div>
                </div>
              </a>
            </li>                                             
          {% endfor %}
        </ul>
      </section>
    </div>
  </body>
  
  {% else %}
    <p>Não foi encontrado nenhuma receita.</p>
  {% endif %}
{% endblock content %}
