.banner4 {
    width: auto;
    min-width: max-content;
    background-color: blueviolet;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('../images/IAroles.jpeg');
    background-size: cover;
    background-position: center;
}

.role-image {
    display: block; 
    margin: 0 auto; 
    text-align: center; 
    border-radius: 30px;
    width: 700px;
}
.detalhe {
    background-color: #ffffff;
    padding: 80px;
    margin: 0 170px;
    justify-content: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color:rgba(0, 0, 0, 0.75) !important;
    max-width: 1350px;
}
.detalhe h1{
    font-size: 60px;
    text-align: center;
    color:rgba(0, 0, 0, 0.75) !important;
    
}

ul {
    list-style-type: none;
}

.desc{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important; 
    color:rgba(0, 0, 0, 0.75) !important;
    font-size: 20px;
    justify-content: flex-end;
}


.detalhe article {
    font-size: 16px;
    line-height: 1.5;
    font-size: larger;
    color:rgba(0, 0, 0, 0.75) !important;
    text-align: justify;
    
}


article p{
    font-size: 25px;
    color:rgba(0, 0, 0, 0.75) !important;
}

article li{
    font-size: 25px;
}

@media screen and (max-width: 1250px) {
    .detalhe{
        padding: 40px;
        margin: 0 100px;
        justify-content: center;
        max-width: 500px;
    }
    .detalhe h1{
        font-size: 30px;
        margin-bottom: 15px;
    }
    article p{
        font-size: 15px;
    }
    article li{
        font-size: 15px;
        padding-left: 10px;
    }
    .role-image{
        width: 50%;
      }
}

@media screen and (max-width: 800px) {
    .detalhe{
        padding: 80px;
        margin: 0 70px auto;
        justify-content: center;
        max-width: 320px !important;
    }
    .role-image{
        width: 80%;
      }
    .detalhe h1{
        font-size: 30px;
        margin-bottom: 15px;
    }
    article p{
        font-size: 10px;
    }
    article li{
        font-size: 10px;
        padding-left: 10px;
    }
}


