.detalhe {
    background-color: #ffffff;
    padding: 80px;
    margin: 0 170px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color:rgba(0, 0, 0, 0.75) !important;
}

.detalhe h1{
    font-size: 40px;
    text-align: center;
}

.detalhe h2 {
    font-size: 30px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #a0a0a0;
    font-size: larger;
    margin-top: 0;
}


.detalhe article {
    font-size: 16px;
    line-height: 1.5;
    font-size: larger;
    color: #666;
}
.desc{
    font-size: 5px;
    justify-content: flex-end;
}

article p{

    font-size: large;
}

.role-image {
    display: block; 
    margin: 0 auto; 
    text-align: center; 
    border-radius: 30px;
    width: 700px;
}



@media screen and (max-width: 800px) {
    .paginaReceita  {
        width: 60%;
        padding: 10vw;
        margin: 0 10vw;
      }
    
    .listaDeIng{
        margin: 30px;
    }
    .role-image{
      width: 70%;
    }
  }


@media screen and (max-width: 700px) {
    .detalhe{
        padding: 10px;
        margin: 0 30px;
    }
    .role-image{
        width: 40%;
      }
    .detalhe h1{
        font-size: 30px;
        margin-bottom: 15px;
    }
    article p{
        font-size: 15px;
    }
    article li{
        font-size: 15px;
        padding-left: 10px;
    }
}