header {
    padding: 20px;
    display: flex;
    background-color:rgb(71, 17, 100);
    color: #fff;
  }

  nav {
    display: flex;
    width: 85%;
    margin: auto;
    padding: 10px 0;
    align-items: center;
    justify-content: space-between;
    
}
nav h1{
    font-size: 30px;
}

header ul {
    display: flex;
}  

header ul p {
    font-size: 20px;
    display: flex;
    justify-content: center;
}

header ul p a {
    display: flex;
    justify-content: center;
    margin-left: 40px;
    color: #fff;
    text-decoration: white;
    font-weight: bold;
    align-items: center;
    transition: color 0.3s ease;
}

header ul p a:hover {
    color: rgb(96, 47, 125);
}

@media screen and (max-width: 800px) {
    nav h1{
        font-size: 15px;
        text-align: center;
    }
    .logo{
        min-width: 60px;
    }

    header ul p {
        font-size: 10px;
        text-align: center;
    }
}

@media screen and (min-width: 800px) {
    .logo {
        min-width: 120px; 
    }
}