* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .banner{
    width: 100%;
    background-color:blueviolet;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url('../images/paginaprincipal.jpeg');
    background-size: cover;
    background-position: center;
  }