* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .banner{
    width: 100%;
    background-color:blueviolet;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url('../images/pagina_principal.avif');
    background-size: cover;
    background-position: center;
  }

  .titulocategoria h2{
    text-align: center;
  }

  .button{
    width: 300px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    font-size: 20px;
    border: 2px solid rgb(71, 17, 100);
    background: transparent;
    color: white;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease; 
}

.button:hover {
    background: rgb(71, 17, 100);
    box-shadow: 0 0 35px rgb(71, 17, 100);
    transform: scale(1.1); 
}

.button2{
  width: 150px;
  padding: 15px 10px;
  text-align: center;
  display: block;
  margin: 0px auto;
  border-radius: 20px;
  font-weight: bold;
  font-size: 20px;
  border: 2px solid rgb(71, 17, 100);
  background: transparent;
  color: white;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease; 
}

.button2:hover {
  background: rgb(36, 17, 73);
  box-shadow: rgb(36, 17, 73);
  transform: scale(1.1);
}

.logo {
  max-width: 10%;
  height: auto;
  }