
{% extends 'base.html' %}

{% block title %}
Criar Usuário
{% endblock title %}

{% block content %}
<div class="banner2">
    <section class="cadastro">
        <article>
            <h1>Criar Usuário</h1>
            <form class="cadastroForm" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <br>
                <button class="button1" type="submit">Criar</button>
                <!-- <a type="submit"class="button1"><span></span>Criar</a> -->
            </form>
        </article>
    </section>
</div>

{% endblock content %}

