{% extends 'base.html' %}

{% block title %}
Página Inicial
{% endblock title %}

{% block content %}

<body>
    <div class="banner">
        <div class="conteudo">
            <h1>ACESSE OS MELHORES ROLÊS COM FACILIDADE.</h1>
            <p>O melhor aplicativo para comprar e vender ingressos com segurança.</p>
                
                <a href="{% url 'roles:index' %}"class="button"><span></span>Próximos rolês</a>
            </a>
        </div>
    </div>
</body>

{% endblock content %}